:root {
    --color-primario: #f1b207;
    --color-primario-hover: #d69e05;
    --color-secundario: #000000;
    /* curiosamente, si solo lo dejo con "color-texto" el color asignado me afecta con el formulario de solicitar citas */
    --color-texto-home: #ffffff;
    --color-fondo-seccion: #f8eedc;
    --overlay-color: rgba(0, 0, 0, 0.5);

    --transition: 0.3s ease;
    --radio-borde: 8px;
}

.main_container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.seccion1 {
    position: relative;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagenfondoinicial {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 2;
}

.contenido {
    position: relative;
    z-index: 3;
    text-align: center;
    color: var(--color-texto-home);
    padding: 0 20px;
    max-width: 800px;
}

.titulo {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.subtitulo {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn_reservarcita {
    background-color: var(--color-primario);
    border: none;
    color: var(--color-secundario);
    font-weight: bold;
    padding: 12px 30px;
    border-radius: var(--radio-borde);
    cursor: pointer;
    transition: var(--transition);
    width: 25%;
}

.btn_reservarcita:hover {
    background-color: var(--color-primario-hover);
}

/* CSS de la seccion dos, donde aparece el sobre nosotros, descripcion y video  */
.seccion2 {
    background-color: var(--color-fondo-seccion);
    padding: 60px 10%;
    text-align: center;
}

.titulo2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-secundario);
    margin-bottom: 40px;
}

.seccion2_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.descripcion_home {
    flex: 1 1 45%;
    font-size: 1.1rem;
    color: var(--color-secundario);
    text-align: justify;
    line-height: 1.6;
}

.video {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
}

.video video {
    width: 100%;
    height: 15rem;
    /* si le llego a quitar el objectfit, esto hará que el video tenga una anchura, pero no se ajuste a ella */
    object-fit: cover;
    max-width: 600px;
    border-radius: var(--radio-borde);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* CSS de la seccion tres, donde se muestran los servicios */
.seccion3 {
    background-color: var(--color-fondo-seccion);
    padding: 60px 10%;
    text-align: center;
}

.seccion3_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.seccion4 {
    background-color: var(--color-fondo-seccion);
    padding: 60px 10%;
    text-align: center;
}

.titulo_seccion4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-secundario);
    margin-bottom: 40px;
}

.seccion4_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.seccion4_item {
    flex: 1 1 200px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.icono_circular {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; 
}
.icono_circular:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icono_circular img {
    width: auto;
    height: 80px;
   object-fit: contain;
}

.seccion4_item p {
    font-size: 0.95rem;
    color: var(--color-secundario);
    line-height: 1.5;
}

.seccion4_item a {
    color: green;
    text-decoration: underline;
}


.seccion6 {
    background-color: var(--color-fondo-seccion);
    padding: 30px 10%;
    text-align: center;
}

.titulo_seccion6 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-secundario);
    margin-bottom: 40px;
}

.seccion6_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.seccion6_item {
    flex: 1 1 220px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.seccion6_item p {
    font-size: 0.95rem;
    color: var(--color-secundario);
    line-height: 1.5;
}

/* para animar el titulo de natalia salazar, que cuando se inicie en la  pagina tenga un efecto de entrada */
.animar_entrada {
    animation: fadeUp 1s ease-out forwards;
    opacity: 0; /* inicia oculto hasta que se anime */
}
.animar_entrada.delay1 {
    animation-delay: 0.3s;
}
.animar_entrada.delay2 {
    animation-delay: 0.6s;
}
.animar_entrada.delay3 {
    animation-delay: 0.9s;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .seccion2_container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .descripcion_home {
        flex: 1 1 100%;
    }

    .video {
        flex: 1 1 100%;
    }

    .video video {
        max-width: 100%;
    }
        .seccion4_container {
        flex-direction: column;
        align-items: center;
    }
        .seccion6_container {
    grid-template-columns: 1fr;
}
    
    .seccion3 {
        padding: 40px 5%;
    }
}